.container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding-top: 60px;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    width: 80vw;
  }

  .quote {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: gray;
  }

  .headerInfo {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;

    .links {
      font-size: 16px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: rgb(49, 48, 56);
      border-radius: 6px;
      padding: 6px;
      gap: 6px;

      a {
        flex: 1;
        display: flex;
        flex-direction: column;

        button {
          flex: 1;
        }
      }
    }

    .skills {
      font-size: 15px;
      background: rgb(49, 48, 56);
      border-radius: 6px;
      padding: 6px;

      .header {
        font-size: 16px;
        font-weight: bold;
      }

      ul {
        margin: 0px;
        padding-left: 20px;

        ul {
          padding-left: 20px;
        }
      }
    }
  }
}