.container {
  .header {
    text-align: center;

    .title {
      font-size: min(23px, 4.5vmin);
      font-weight: bold;
    }

    .skills {
      font-size: min(15px, 4vmin);
    }
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 6px;

    @media screen and (max-width: 1200px) {
      gap: 10px;
    }
  }
}