.container {
  .header {
    text-align: center;

    .title {
      font-size: min(22px, 3.5vmin);
      font-weight: bold;
    }

    .skills{
      font-size: min(14px, 3.1vmin);
    }
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 6px;
  }
}