.container {
  background: rgb(49, 48, 56);
  color: white;
  border-radius: 6px;
  flex: 1 0 31.5%;
  max-width: 33%;
  padding: 6px;
  transition: box-shadow 0.25s;

  &:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  }

  &:hover {
    color: #a9d3ff;
  }

  @media screen and (max-width: 1200px) {
    flex: 1 0 100%;
    max-width: unset;

    &:hover {
      box-shadow: unset;
    }
  }

  .image {
    width: 100%;
    aspect-ratio: 1.5;
  }

  .title {
    font-size: min(18px, 4.5vmin);
    color: inherit;
    text-align: center;
    padding-top: 4px;
  }

  .description {
    font-size: 14px;
  }
}