.container {
  .header {
    text-align: center;

    .title {
      font-size: 22px;
      font-weight: bold;
    }

    .skills{
      font-size: 14px;
    }
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 6px;
  }
}